<h3>Users</h3>
<p>
  {{testProperty}}
</p>

{{#each model as |user index|}}
  <p>
    #{{index}} - {{user.fullName}}
  </p>
  {{#each user.bookmarks as |bookmark|}}
  {{else}}
    <p>
      No Bookmarks for User
    </p>
  {{/each}}
{{/each}}

{{outlet}}
